alembic==1.14.1
asgiref==3.8.1
Babel==2.15.0
blinker==1.8.2
Brotli==1.1.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.7
contourpy==1.2.0
cycler==0.12.1
Django==5.1.6
dominate==2.9.1
Flask==3.0.3
Flask-Babel >= 2.0.0
Flask-BabelEx==0.9.4
Flask-Bootstrap==3.3.7.1
Flask-Login==0.6.2
Flask-Migrate==4.0.4
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.1.1
fonttools==4.45.1
idna==3.10
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
julia==0.6.1
kiwisolver==1.4.5
Mako==1.3.9
MarkupSafe==2.1.5
matplotlib==3.8.2
networkx==3.4.2
numpy==1.24.4
packaging==24.2
pdfkit==1.0.0
Pillow==10.1.0
pluggy==1.4.0
pybind11==2.11.1
pyparsing==3.1.1
pytest==8.0.0
python-dateutil==2.8.2
pytz==2024.1
requests==2.31.0
scipy==1.12.0
six==1.16.0
speaklater==1.3
SQLAlchemy==2.0.39
sqlparse==0.5.3
typing_extensions==4.12.2
urllib3==2.3.0
visitor==0.1.3
Werkzeug==3.0.3
WTForms==3.2.1

# Rasa + NLP
rasa==3.6.21
spacy>=3.7.2,<3.8
scikit-learn>=1.3.2,<1.5
tensorflow>=2.11,<2.14
pydot
graphviz
